<div class="max-w-md mx-auto p-6 bg-gray-900 rounded-xl shadow-lg space-y-6 mt-10 text-white">
<form
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"

>
  <h2 class="text-3xl font-bold text-center text-white">Register</h2>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label class="text-white">Name</mat-label>
    <input matInput formControlName="name" placeholder="Your name" class="text-white" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label class="text-white">Username</mat-label>
    <input matInput formControlName="username" placeholder="Choose a username" class="text-white" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label class="text-white">Email</mat-label>
    <input matInput type="email" formControlName="email" placeholder="you@example.com" class="text-white" />
  </mat-form-field>

  <mat-form-field appearance="fill" class="w-full">
    <mat-label class="text-white">Password</mat-label>
    <input matInput type="password" formControlName="password" placeholder="********" class="text-white" />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    class="w-full py-2 font-semibold rounded-lg"
    [disabled]="registerForm.invalid"
  >
    Register
  </button>
</form>
<button
  mat-raised-button
  color="accent"
  class="w-full font-semibold"
  routerLink="/auth/login"
>
 login
</button>
</div>
