<div class="flex flex-col h-screen p-4 bg-gray-900">
  <div [routerLink]="['/profile', otherprofiledata._id]" class="cursor-pointer flex items-center mb-4 space-x-3 p-2 bg-gray-800 rounded-lg">
    <img
      [src]="'http://localhost:5000/' +otherprofiledata.profileImage "
      alt="User Avatar"
      class="w-13 h-13 rounded-full"
    />
    <div class="text-white font-semibold text-lg">{{ otherprofiledata.name }}</div>
  </div>

  <div #chatContainer class="flex-1 scrollbar-hide overflow-auto space-y-2 mb-4">
    <div
      *ngFor="let msg of HistoryDATA"
      class="flex"
      [ngClass]="{
        'justify-end': msg.from === currentUserId,
        'justify-start': msg.from !== currentUserId
      }"
    >
      <div
        class="max-w-xs p-2 rounded-lg"
        [ngClass]="{
          'bg-blue-800 text-white': msg.from === currentUserId,
          'bg-gray-800 text-gray-200': msg.from !== currentUserId
        }"
      >
        {{ msg.text }}
        <div class="text-xs text-gray-500 mt-1">
          {{ msg.timestamp | date : "shortTime" }}
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="send()" class="flex space-x-2">
    <input
      [(ngModel)]="inputText"
      name="message"
      class="flex-1 p-2 border rounded-lg bg-gray-800 text-gray-200 placeholder-gray-400"
      placeholder="Type a message..."
      required
    />
    <button
      type="submit"
      class="px-4 py-2 text-white rounded-lg bg-blue-500 hover:bg-blue-600"
    >
      Send
    </button>
  </form>
</div>
